{% if session.get('role') == 'admin' %}
{% extends 'admin_layout.html' %}
{% elif session.get('role') == 'staff' %}
{% extends 'staff_layout.html' %}
{% else %}
{% endif %}

{% block title %}Add Guide{% endblock %}

{% block content %}
<div class="container">
    <h2>Add Guide</h2>
    <form action="{{ url_for('add_guide') }}" method="post" enctype="multipart/form-data">
        <div class="msg">{{ msg }}</div>
        <label for="agriculture_item_type">Item Type:</label>
        <select name="agriculture_item_type" id="agriculture_item_type" required>
            <option value="pest">Pest</option>
            <option value="weed">Weed</option>
        </select><br>
        <label for="common_name">Common Name:</label>
        <input type="text" name="common_name" id="common_name" required><br>
        <label for="scientific_name">Scientific Name:</label>
        <input type="text" name="scientific_name" id="scientific_name" required><br>
        <label for="key_characteristics">Key Characteristics:</label><br>
        <textarea name="key_characteristics" id="key_characteristics" rows="4" cols="120"></textarea><br>
        <label for="biology">Biology:</label><br>
        <textarea name="biology" id="biology" rows="4" cols="120"></textarea><br>
        <label for="impacts">Impacts:</label><br>
        <textarea name="impacts" id="impacts" rows="4" cols="120"></textarea><br>
        <label for="control">Control:</label><br>
        <textarea name="control" id="control" rows="4" cols="120"></textarea><br>

        <label for="photos">Select photos:</label>
        <input type="file" name="photos" id="photos" accept="image/*" multiple required><br>
        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}