{% if session.get('role') == 'admin' %}
{% extends 'admin_layout.html' %}
{% elif session.get('role') == 'staff' %}
{% extends 'staff_layout.html' %}
{% elif session.get('role') == 'agronomists' %}
{% extends 'agronomists_layout.html' %}
{% else %}
{% endif %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Profile</h2>
    <form action="{{ url_for('edit_profile', change_role=change_role, change_id=change_id) }}" method="post">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" value="{{ results['id'] }}" disabled>

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ results['first_name'] }}">

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ results['last_name'] }}">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ results['email'] }}">

        <label for="phone">Work Photo:</label>
        <input type="text" id="phone" name="phone" value="{{ results['phone'] }}" pattern="[1-9][0-9]{10}">

        <label for="date_joined">Date Joined:</label>
        <input type="text" id="date_joined" name="date_joined" value="{{ results['date_joined'] }}" disabled>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="{{ results['address'] }}">
        
        <input type="submit" value="Update">
    </form>

</div>
{% endblock %}
