{% if session.get('role') == 'admin' %}
{% extends 'admin_layout.html' %}
{% elif session.get('role') == 'staff' %}
{% extends 'staff_layout.html' %}
{% elif session.get('role') == 'agronomists' %}
{% extends 'agronomists_layout.html' %}
{% else %}
{% endif %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Guide</h2>
<h3>weeds:</h3>
<div class="block_container">

    {% for weed in weeds %}
    <div class="img_block">
        <a href="{{ url_for('view_agriculture', agriculture_id=weed['agriculture_id']) }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename=weed['primary_photos']) }}"
                     alt="Photo">
            </div>
            <p>{{ weed.common_name }}</p>
        </a>
    </div>
    {% endfor %}
</div>
<h3>pests:</h3>
<div class="block_container">

    {% for pest in pests %}
    <div class="img_block">
        <a href="{{ url_for('view_agriculture', agriculture_id=pest['agriculture_id']) }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename=pest['primary_photos']) }}"
                     alt="Photo">
            </div>
            <p>{{ pest.common_name }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}