{% if session.get('role') == 'admin' %}
{% extends 'admin_layout.html' %}
{% elif session.get('role') == 'staff' %}
{% extends 'staff_layout.html' %}
{% else %}
{% endif %}

{% block title %}Agriculture{% endblock %}

{% block content %}
<div class="container">
    <h2>Agriculture</h2>
    <div class="msg">{{ msg }}</div>
    <label for="agriculture_item_type">Item Type:</label>
    <p>{{ agriculture.agriculture_item_type }}</p>
    <label for="common_name">Common Name:</label>
    <p>{{ agriculture.common_name }}</p>
    <label for="scientific_name">Scientific Name:</label>
    <p>{{ agriculture.scientific_name }}</p>
    <label for="key_characteristics">Key Characteristics:</label>
    <p>{{ agriculture.key_characteristics }}</p>
    <label for="biology">Biology:</label>
    <p>{{ agriculture.biology }}</p>
    <label for="impacts">Impacts:</label>
    <p>{{ agriculture.impacts }}</p>
    <label for="control">Control:</label>
    <p>{{ agriculture.control }}</p>
    <label for="photos">Photos:</label>
    {% for photo in agriculture.photos %}
    <img src="{{ url_for('static', filename=photo['photo_url']) }}" alt="photo">
    <p>{{ photo }}</p>
    {% endfor %}
</div>

{% endblock %}